:root{
    --red: #E50914;
    --black: #141414;
    --gray: #AAA;
    --white: #fff;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo{
    color: var(--red);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header .container nav a{
    text-decoration: none;
    color: var(--gray);
    margin-right: 10px;
}

header .container nav a:hover{
    color: var(--white);
}