:root{
    --red: #E50914;
    --black: #141414;
    --gray: #AAA;
    --white: #fff;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

/* Elementos Base */

body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo{
    color: var(--red);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header .container nav a{
    text-decoration: none;
    color: var(--gray);
    margin-right: 10px;
}

header .container nav a:hover{
    color: var(--white);
}

/* Conteudo Principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/Netflix-interface-clone/img/HouseOfCards.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container .titulo{
    font-size: 40px;
}

.filme-principal .container .descricao{
    margin-bottom: 40px;
}