@media screen and (max-width:1030px){

    .filme-principal{
        height: 65vh;
    }

    .filme-principal .container .titulo{
        font-size: 32px;
    }

    .filme-principal .container .descricao{
        width: 60%;
    }
}







@media screen and (max-width: 700px){

    .container{
        margin: 0 20px;
    }

    header .container{
    flex-direction: column;
    }

    .filme-principal{
        height: 400px;
    }

    .filme-principal .container .titulo{
        font-size: 26px;
        margin-top: 45%;
        margin-left: 10px;
    }

    .filme-principal .container .descricao{
        width: 90%;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .filme-principal .container .buttons{
        margin-left: 10px;
    }

    .filme-principal .container .buttons .btn{
        padding: 8px;
        font-size: 10px;
    }

    footer div h3, p{
        margin: 0 10px;
        font-size: 12px;
    }
}